<!doctype html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Emotion Prediction</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="circle-container">
        <h1>Emotion Prediction</h1>
        <form method="POST">
            <textarea name="text" placeholder="請輸入文章內容..."></textarea><br>
           <button class="ui-btn" type="submit"><span>predict</span></button>
        </form>
    </div>

    <!-- 動態 emoji -->
    <script>
        const emojis = ["😊", "😢", "😡", "😱", "😂", "😍"];
        for (let i = 0; i < 30; i++) {
            const emoji = document.createElement("div");
            emoji.classList.add("emoji");
            emoji.textContent = emojis[Math.floor(Math.random() * emojis.length)];
            emoji.style.left = Math.random() * 100 + "vw";
            emoji.style.fontSize = 20 + Math.random() * 20 + "px";
            emoji.style.opacity = Math.random();
            emoji.style.animationDuration = 5 + Math.random() * 5 + "s";
            emoji.style.animationDelay = Math.random() * 5 + "s";
            document.body.appendChild(emoji);
        }
    </script>
</body>
</html>
